<div class="container wrapper">
  <section class="row">
      <div class="col-sm-9">
          <h3><i class="github-icon"></i>&nbsp;Github Emoji List</h3>
      </div>
      <div class="col-sm-3">
        <h5>
          
          <a href="https://github.com/Dellos7/github-emoji-list" target="_blank">
            <i class="my-github-icon"></i>
            See in Github
        </a>
      </h5>
      </div>
  </section>
  <!--<section class="row">
    <div class="col">
      <a href="https://api.github.com/emojis" target="_blank">
        <i class="point-right-icon"></i>
        https://api.github.com/emojis
      </a>
    </div>
  </section>-->
  <br>
  <div class="form-group col">
      <i class="point-right-icon"></i>&nbsp;<a href="https://api.github.com/emojis" target="_blank">https://api.github.com/emojis</a>
  </div>
  <div *ngIf="githubEmojiList && githubEmojiList.length > 0">
    <div class="form-group col">
      <i class="metal-icon"></i>&nbsp;<i>Click on any icon to copy the label into the clipboard.</i>
    </div>
    <div class="form-group col">
      <input type="search" name="search-form-search" class="form-control input" [(ngModel)]="searchText" placeholder="Search Github Emojis!">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </div>
    <div class="row">
      <div class="col-6 col-sm-4 col-md-2" *ngFor="let githubEmoji of githubEmojiList | filter: searchText" (click)="copyTermToClipboard($event, githubEmoji)">
          <div class="thumbnail">
            <img class="center" [src]="githubEmoji.imageUrl" [alt]="githubEmoji.term">
            <div class="caption" class="text-center">
              <label class="word-break-all">{{githubEmoji.term}}</label>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!githubEmojiList || githubEmojiList.length <= 0">
    <div class="text-center full-width">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>&nbsp;Loading...
    </div>
  </div>
</div>
